* {
	font-family: "JetBrainsMono Nerd Font";
	font-weight: bold;
	font-size: 13px;
}

window#waybar {
	background: #2b2f37;
	color: #adb1b9;
	border-top: 7px solid #2b2f37;
	border-bottom: 7px solid #2b2f37;
	border-radius: 8px;
}

#custom-filesystem {
	color: #7ebae4; /* голубой */
	font-size: 18px;
	margin: 0 8px;
}

#workspaces button:nth-child(1) { color: #e06c75; } /* красный */
#workspaces button:nth-child(2) { color: #e5c07b; } /* жёлтый */
#workspaces button:nth-child(3) { color: #98c379; } /* зелёный */
#workspaces button:nth-child(4) { color: #56b6c2; } /* голубой */
#workspaces button:nth-child(5) { color: #61afef; } /* синий */
#workspaces button:nth-child(6) { color: #c678dd; } /* фиолетовый */
#workspaces button:nth-child(7) { color: #be5046; } /* бордовый */
#workspaces button:nth-child(8) { color: #e06c75; } /* красный */
#workspaces button:nth-child(9) { color: #e5c07b; } /* жёлтый */
#workspaces button:nth-child(10) { color: #98c379; } /* зелёный */

#workspaces button {
	padding: 0 5px;
	border-radius: 5px;
	color: #adb1b9;
}

#workspaces button.active {
	margin: 3px 0;
	background: #565c64;
}

#cpu, #memory, #temperature {
	padding: 0 8px;
}

#cpu {
	color: #989cff;
}

#memory {
	color: #d19a66;
}

#temperature {
	color: #a4ebf3;
}

#tray {
	padding: 0 8px;
}

#battery {
	color: #A0E8A2;
	padding: 0 8px;
}

#battery.charging {
	color: #DF8890;
}

#pulseaudio {
	color: #d35f5e;
	padding: 0 8px;
}

#clock {
	background: #3b3f4a;
	border-radius: 8px;
	margin: 4px 0;
	padding: 0 8px;
	color: #61afef;
}

#clock tooltip {
	background: #2b2f37;
	color: #ffffff;
	font-size: 14px;
	padding: 8px;
	border-radius: 8px;
}

#network {
	color: #A3BE8C;
	padding: 0 8px;
}

#backlight {
	color: #61afef;
	padding: 0 8px;
}

#language {
    color: white;
}

#keyboard-state label.capslock {
    color: red;
    margin-left: -8px;
    padding: 0 8px;
}

#custom-powermenu {
	color: #d35f5e;
	padding: 0 8px;
}
